.App {
  
  background-color: #0d1117;
  background-image: 
    linear-gradient(to bottom, transparent 80%, rgb(10, 10, 15) 100%), 
    linear-gradient(rgba(40, 44, 52, 0.7), rgba(40, 44, 52, 0.7)),  
    url('./assets/images/backgroundimage1.jpg');                      
  background-size: cover;
  background-position: center;
  background-attachment: local, fixed, fixed; 
  
  min-height: 100vh;
  color: white;
  text-align: center;

  
  position: relative;
  overflow: hidden; 

main {
  padding-block: 1rem; 
  position: relative;
  z-index: 2;
}



.glass-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(4px) saturate(150%);
  -webkit-backdrop-filter: blur(4px) saturate(150%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.1);
  z-index: 1;
  pointer-events: none;
}

.glass-layer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  pointer-events: none;
}
};