

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*Scrollbar down here */


html, body {
  
  background: #0d1117; 
  background-image: 
    linear-gradient(to bottom, transparent 80%, rgb(10, 10, 15) 100%), 
    linear-gradient(rgba(40, 44, 52, 0.7), rgba(40, 44, 52, 0.7)), 
    url('./assets/images/backgroundimage1.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-attachment: fixed; 
}


html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 10px; 
  z-index: 2;  
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background-color: transparent !important; 
  z-index: 1; 
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, rgba(40, 40, 40, 0.5), rgba(40, 40, 40, 0.9)); 
  border-radius: 10px; 
  opacity: 0; 
  pointer-events: none; 
  transition: opacity 250ms ease-in-out; 
}

html.is-scrolling::-webkit-scrollbar-thumb,
body.is-scrolling::-webkit-scrollbar-thumb {
  opacity: 1; 
  pointer-events: auto; 
}


html, body {
  scrollbar-width: thin; 
  scrollbar-color: rgba(40, 40, 40, 0.7) transparent; 
}

html.is-scrolling,
body.is-scrolling {
  scrollbar-color: rgba(40, 40, 40, 0.9) transparent; 
}

