
@keyframes zoomInFromDistance {

  0% {

    transform: scale(0.5);
   
    opacity: 0;
  }

  
  100% {
    
    transform: scale(1);
   
    opacity: 1;
  }
}


.animate-zoom-in {

  animation: zoomInFromDistance 0.5s ease-out forwards;
}